/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Layout */
html,
body {
  height: 100%; /* Full height for the body */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column; /* Stack header, main content, and footer vertically */
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

/* Projects Section */
#projects {
  padding: 40px 0;
  background-color: #fff;
  flex: 1; /* Allows the section to take up the remaining space */
}

#projects h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.project h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.project p {
  font-size: 1em;
  color: #666;
}

.project .btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.project .btn:hover {
  background-color: #444;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* This ensures the footer is pushed to the bottom */
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
